a:link { color: #000000; text-decoration: none}
body{
background-color: #eeeeee;
}

h1{
font-family: Roboto;
font-weight: 350;
color: black;
background-color: #319df6;
}

.navbar {
 width: 100%;
 background-color: #ffffff;

}
.site-title{
 margin:0;
 padding-left: 15px;
}
.navbar-list {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
.navlist{
 margin: 0;
 margin-bottom:10;
 padding: 0;
}

.navitem {
 display: inline-block;
 margin: 10px;
 color: black;
 font-size: 20px;
 font-family: Roboto;
}
li.navitem.navlink.active{
 border-bottom: 3px solid #319df6 ;
 margin-bottom: 0px;

}

.object{

 background-color: #ffffff;
 padding: 10px;
 border: 1px solid darkgrey;
 margin: 7px;
 width: 200px;
 flex-basis: 400px;
 flex-grow: 3;
 max-width:450px




}
.object-text{
text-align: left;
flex-wrap: wrap;

}
.object-content{
  text-align: center;

font-size: 35px;
}
.object-icon{
 display:flex;
height:0px;
text-align:left;
padding-left: 6px;
align-self:center;
}

.object-container{
padding-top: 50px;
padding-left:225px;
padding-right: 150px;
display: flex;
flex-wrap: wrap;
max-width: 1500px;
/* justify-content: flex-end;
flex-grow:3;  */

}

#navbar-search-button{
border:0;
background-color:white;

}
#navbar-search-button:hover{
 color:#319df6;
}
#navbar-search-input{
margin-left: 1400px;

}
#navbar-search-input:focus{
 background-color: lightgrey;
}
p.twit-author{
 color:black;
 font-size: 20px;
 font-weight: 700;
 font-family: Roboto;
 align-items:flex-end;


}
p.twit-author:hover{
color:#319df6;

}
a:visited{
 color:black;
}
a:hover{
 color:#319df6;
}
.image{
display:flex ;
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid darkgrey;
  margin: 7px;
  width: 200px;
  flex-wrap: wrap;

  max-width:500px
}

.image-container{
  padding-top: 50px;
  padding-left:225px;
  padding-right: 150px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;

}
